<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>
 
<p>
  <strong>pH:</strong>
  <%= @record.ph %>
</p>

<p>
  <strong>Ammonia:</strong>
  <%= @record.ammonia %>
</p>

<p>
  <strong>Nitrite:</strong>
  <%= @record.nitrite %>
</p>

<p>
  <strong>Nitrate:</strong>
  <%= @record.nitrate %>
</p>

<p>
  <strong>KH:</strong>
  <%= @record.kh %>
</p>

<p>
  <strong>GH:</strong>
  <%= @record.gh %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @record.notes %>
</p>

<%= link_to 'Back to Tank Records', controller: 'records' %>